{% extends "base.html" %}
{% block title %} Stolker {% endblock %}
{% block content %}
<main class="main-container center-content">
  <h1 class="title">Welcome to Stolker</h1>
  <p class="subtitle">Your ultimate stock market dashboard and community for market analysis.</p>
  <form method="POST" action="{{ url_for('index') }}" class="form">
    <input id="stock_symbol" name="stock_symbol" type="text" class="input" placeholder="e.g., AAPL, NVDA, INFY...">
    <button type="submit" class="button">Search</button>
  </form>
</main>
{% endblock %}